#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 30px;
}

#menu ul {
    margin: 0;
}

#menu li {
    display: inline;
    margin: 0 20px;
}

#account button {
    width: 120px;
    height: 40px;
    border: solid 2px blueviolet;
    border-radius: 20px;
    background: blueviolet;
    margin: 0 5px;
    transition: all 0.3s;
    color: white;
}

#account button:hover {
    background: 0;
    color: blueviolet;
}

#banner{
    margin: 50px 0;
}