#lstproduct-panel {
  overflow: hidden;
  position: relative;
}

#lstproduct {
  display: flex;
  transition: transform 0.3s ease-in-out;
  white-space: nowrap;
}

#lstproduct-control {
  margin: 10px 0;
}

#prev-btn,
#next-btn {
  width: 120px;
  height: 40px;
  border: solid 2px blueviolet;
  border-radius: 20px;
  background: blueviolet;
  transition: all 0.3s;
  color: white;
}

#prev-btn:hover,
#next-btn:hover {
  background: 0;
  color: blueviolet;
}

#next-btn {
  float: right;
}

#lstproduct .card {
  position: relative;
  min-width: 320px;
  height: 450px;
  background-image: linear-gradient(45deg, blueviolet, pink);
  border-radius: 20px;
  border: 0;
  overflow: hidden;
  margin-right: 20px;
}

#lstproduct .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

#lstproduct .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

#lstproduct .card:after {
  content: "Nike";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.08);
}

#lstproduct .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

#lstproduct .card:hover .imgBx {
  top: 0%;
  transform: translateY(-25%);
  /* bug  */
}

#lstproduct .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 270px;
}

#lstproduct .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

#lstproduct .card:hover .contentBx {
  height: 210px;
}

#lstproduct .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

#lstproduct .card .contentBx .size,
#lstproduct .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

#lstproduct .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

#lstproduct .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

#lstproduct .card .contentBx .size h3,
#lstproduct .card .contentBx .color h3 {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

#lstproduct .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

#lstproduct .card .contentBx .size span:hover {
  /* other bug */
  background: #b90000;
}

#lstproduct .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

#lstproduct .card .contentBx .color span:nth-child(2) {
  background: #1bbfe9;
}

#lstproduct .card .contentBx .color span:nth-child(3) {
  background: #1b2fe9;
}

#lstproduct .card .contentBx .color span:nth-child(4) {
  background: #080481;
}

#lstproduct .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

#lstproduct .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.7s;
}

h5 {
  font-weight: 600;
}