@model Color

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/Color/Create.css" asp-append-version="true" />
<hr />
<div class="row">
    <form asp-action="Create" class="crud-create-form">
        <div>
            <p>Mã HEX</p>
            <input asp-for="ColorCode" />
        </div>
        <div>
            <p>Tên màu sắc</p>
            <input asp-for="ColorName" />
        </div>
        <div>
            <button type="submit">Thêm</button>
        </div>
    </form>
    <a asp-action="Index"><button class="crud-backlist">Danh sách màu sắc</button></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}