@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
<div id="lstproduct-control">
    <button id="prev-btn">Prev</button>
    <button id="next-btn">Next</button>
</div>
<div id="lstproduct-panel">
    <div id="lstproduct">
        @foreach (var item in await _productService.GetAllProduct())
        {
            <div class="card">
                <div class="imgBx">
                    <img src="~/img/Sneaker-PNG-File.png">
                </div>
                <div class="contentBx">
                    <h2>@((
#pragma warning disable
                            await _shoeService.GetShoeById(item.IdShoe)
#pragma warning restore
                            ).ShoeName)</h2>
                    <div class="size">
                        <h3>Size :</h3>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                    </div>
                    <div class="color">
                        <h3>Color :</h3>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <a asp-controller="Home" asp-action="Index"><span>Buy now</span></a>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/Home/Index.js" asp-append-version="true"></script>